{% extends 'base.html' %}
{% block content %}
    <div>
        <h2>{{ question.title }}</h2>
        <form action="{% url 'vote' pk=question.pk %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <div class="radio">
                    <label>
                        <input type="radio" name="choice" value="{{ choice.pk }}">
                        <strong>{{ choice.title }}</strong>
                        <strong>{{ choice.votes }}</strong>
                    </label>
                </div>
            {% endfor %}
            <input type="submit" value="투표하기">
        </form>
    </div>
{% endblock %}